<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="sign_up_box">
    <h2>Sign up</h2>

    <div class="sign_up_form">
      <%= f.text_field :name, class:"input_field", placeholder: "Name", autofocus: true %>
      <%= f.text_field :bio, class:"input_field", placeholder: "Bio" %>
      <%= f.email_field :email, class:"input_field", placeholder: "Email" %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, class:"input_field", placeholder: "Password" %>
      <%= f.password_field :password_confirmation, class:"input_field", placeholder: "Password confirmation" %>
      <%= f.submit "Sign up", class:"submit_button" %>
      <br />
    </div>
  </div>
<% end %>

<div class="shared_links">
<%= render "devise/shared/links" %>
</div>
